<h3>{{deliveryman}}, you have a new Delivery avaliable!</h3>

The product <strong>{{product}}</strong> is ready to be withdraw at our distributor. <br />

Bellow, you can see details of your delivery:

<ul>
  <li>
    <strong>Recipient:</strong> {{recipient}},
  </li>
  <li>
    <strong>Address:</strong> {{street}}, <strong>Number:</strong> {{number}}
  </li>
  <li>
    <strong>Complement:</strong> {{complement}},
  </li>
  <li>
    <strong>City:</strong> {{city}} - {{state}}
  </li>
  <li>
    <strong>Zip Code:</strong> {{zipCode}}
  </li>
</ul>

<small>
  You can find it with code <strong>{{id}}</strong> on our database!
</small>
